.container {    
    width: 100%;
}
  
.header {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}
  
.main-content {
    display: flex;
    gap: 20px;
}
  
.profile-section, .repository-section {
    padding: 20px;
    border-radius: 10px;
}

.repository-section ul {
    width: 400px;
    list-style: none;
    padding: 0;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: space-between;
}
  
.repository-section li {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
  
.repository-section h2 {
    font-size: 1.5em;
    margin: 0;
}
  
.repository-section p {
    margin: 5px 0;
}
  
.repository-section a {
    color: blue;
    text-decoration: none;
}
  