.search-nav{
    display: flex;
    justify-content: space-between;
    background-color: #070F2B;
    align-items: center;
    width: 100%;
    /* position: fixed; */
}
.search-nav h1{
    color: #CCD2DA;
    text-transform: uppercase;
    padding-left: 20px;
}
.search-nav p{
    color: #CCD2DA;
    font-size: 1.2rem;
}
p a{
    text-decoration: underline;
    color: #CCD2DA;
    text-transform: capitalize;
}
.search-nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
div input{
    padding: 10px;
}
div button{
    padding: 10px;
}